@{
    ViewData["Title"] = "Home Page";
}
@{
    IEnumerable<string> strLista = new List<string> { "Laptop", "Impresora", "Accesorios", "Proyectores" };
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Mantenimiento de equipos</h2>
</div>
<div class="row">
    <div class="form-group">
        <label>Nombre Equipo</label>
        @Html.TextBox("txtNombreEquipo", " ",new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("lblDescripcion","Descripcion")
        @Html.TextArea("txaDescripcion","",new{@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("lblModelo","Modelo")
        @Html.TextBox("txtModelo","",new{@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("lblAnioCompra","Año de compra")
        @Html.ListBox("Lista",new List<SelectListItem>{
            new SelectListItem{Text="2005", Value="2005"},
            new SelectListItem{Text="2006", Value="2006"},
            new SelectListItem{Text="2007", Value="2007"}
        })
    </div>
    <div class="form-group">
        @Html.Label("lblCosto","Costo")
        @Html.TextBox("txtCosto","",new{@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("lblVidaUtil","Vida Util")
        @Html.TextBox("txtVidaUtil","",new{@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("lblTipoEquipo","Tipo de Equipo")
        @Html.DropDownList("ddlTipoEquipo", new SelectList(strLista), "Seleccione un Tipo")
    </div>
    <div class="form-group">
        @Html.CheckBox("estado") Inactivo
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-success">Enviar Datos</button>
        
    </div>
</div>
